.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation,
.header-adress {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-top {
  display: block;
  padding: 16px 0;
}

.logo-top-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burgeb-icon {
  display: block;
  fill: #2f2f37;
}

.logo-down {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-part {
  color: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-adress {
    font-style: normal;
    display: block;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .logo-top {
    padding: 24px 0;
    margin-right: 120px;
  }

  .navitem {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navitem:focus,
  .navitem:hover,
  .navitem:active {
    color: #404bbf;
  }

  .adritem:focus,
  .adritem:hover,
  .adritem:active {
    color: #404bbf;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
  }

  .adritem {
    display: block;
    color: #434455;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .logo-top {
    margin-right: 76px;
  }

  .contact {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .adritem {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;

  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon {
  color: #2e2f42;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-navitem {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-adritem {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mobile-navitem:hover,
.mobile-navitem:focus {
  color: #404bbf;
}

.mobile-adritem:hover,
.mobile-adritem:focus {
  color: #4d5ae5;
}
